<h1>
  Register
</h1>

<form action="/log_in" method="post">
  <table>
    <tr>
      <td>
        <label for="email">Email</label>
      </td>
      <td>
        <input id="email" type="text" name="email">
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password</label>
      </td>
      <td>
        <input id="password" type="password" name="password">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Log in">
      </td>
    </tr>
  </table>
</form>